<!DOCTYPE html>
<html lang="eo" id="html-root">

<head>
	<!-- Metadatos-->
	<title>Lastaj Neŭronoj</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Blogo pri sciencdisvastigo, personaj tekstoj kaj tradukoj.">
	<meta name="robots" content="index, follow">
	<meta property="og:title" content="Lastaj Neŭronoj">
	<meta property="og:description" content="Blogo pri sciencdisvastigo, personaj tekstoj kaj tradukoj.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://lastajneuxronoj.github.io/">
	<meta property="og:locale" content="eo">
	<!--<meta property="og:image" content="https://lastajneuxronoj.github.io/svg/imagen_compartir.svg">-->
	<link rel="canonical" href="https://lastajneuxronoj.github.io/">
	<!--Agregar idiomas-->
	<link rel="alternate" hreflang="eo" href="https://lastajneuxronoj.github.io/">
	<link rel="alternate" hreflang="es" href="https://lastajneuxronoj.github.io/">
	{{rssLink}}
	<link rel="icon" type="image/svg+xml" href="/svg/logo-mark.svg">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">


	<!--Importante dejar antes de los estilos-->
	<script>
	(() => {
		const savedTheme = localStorage.getItem("theme");
	
		const theme =
			savedTheme ||
			(
				window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark"
					: "light"
			);
	
		if (theme === "dark") {
			document.documentElement.classList.add("dark");
		}
	})();
	</script>
	<!-- Estilos -->
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/post.css" />
	<link rel="stylesheet" href="/css/header_footer.css" />
	<link rel="stylesheet" href="/css/mobile.css" media="(max-width: 768px)">

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script>
		(function () {
			const lang = localStorage.getItem("lang") || "eo";
			document.documentElement.lang = lang;
		})();
	</script>

	<!--SCRIPT DE CONTEO DE VISITAS-->
	<!-- ACTIVAR DESPUÉS!!!!-->

	<!--<script data-goatcounter="https://lastajneuxronoj.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>-->

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body data-page="category" data-category="{{categorySlug}}" data-available-langs="{{categoryAvailableLangs}}">
	<div id="header-container"></div>

	<main class="post-list" id="post-list-container" >
		<div class="post-section-header">
			<div class="section-title-bg">{{section_bg}}</div>
			<h2 class="post-section-title" id="{{titleId}}">{{section_title}}</h2>
		</div>

		<div id="post-list"></div>
	</main>

	<div id="footer-container"></div>
	
	<script src="/js/translation.js"></script>
	<script src="/js/ui.js"></script>
	<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
	<script src="/js/content.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/category.js"></script>
</body>

</html>