<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>

		<meta name="description" content="{{description}}">
		<meta name="robots" content="index, follow">
			
		<link rel="canonical" href="{{url}}">
			
		{{hreflang}}
			
		<meta property="og:title" content="{{ogtitle}}">
		<meta property="og:description" content="{{ogdescription}}">
		<meta property="og:type" content="{{ogType}}">
		<meta property="og:url" content="{{ogUrl}}">
		<meta property="og:locale" content="{{ogLocale}}">
		<meta name="twitter:image" content="{{ogImage}}">
		<meta name="twitter:card" content="{{twitterCard}}">
		<meta name="twitter:title" content="{{ogTitle}}">
		<meta name="twitter:description" content="{{ogDescription}}">
			
		<script type="application/ld+json">
			{{jsonLD}}
		</script>
        <script>
    			// Aplicar el tema almacenado al cargar la página
    			(function () {
    				const theme = localStorage.getItem("theme") || "light";
    				if (theme === "dark") {
    					document.documentElement.classList.add("dark");
    				}
    			})();
    	</script>
        <!-- Styles -->
    	<link rel="stylesheet" href="/style.css" />
    	<link rel="stylesheet" href="/post.css" />
    	<link rel="stylesheet" href="/header_footer.css" />
    	<link rel="stylesheet" href="/mobile.css" media="(max-width: 768px)">

    	<!-- Scripts -->
    	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    	<!-- Google Fonts -->
    	<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900display=swap"    rel="stylesheet">

		<!--SCRIPT DE CONTEO DE VISITAS-->
		<!-- ACTIVAR DESPUÉS!!!!-->

		<!--<script data-goatcounter="https://lastajneuxronoj.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>-->
    </head>

	<body data-page="about">
	
		<div id="header-container"></div>
	
		<main>
			<article class="post">
			
				<div class="back-link">
					<img id="back-icon"
					     src="./svg/left_arrow_b.svg"
					     alt="Flecha hacia atrás">
					<a href="./index.html">{{backToHome}}</a>
				</div>
			
				<div class="post-section-header">
					<div class="section-title-bg">
						{{section_bg}}
					</div>
				
					<h1 class="post-section-title"
					    id="about-section-title">
						{{section_title}}
					</h1>
				</div>
			
				<hr class="rect-line">
			
				<div class="post-content">
					{{body}}
				</div>
			
			</article>
		</main>
	
		<div id="footer-container"></div>
	
		<script src="/js/translation.js"></script>
		<script src="/js/ui.js"></script>
		<script src="/js/content.js"></script>
		<script src="/js/main.js"></script>
	
	</body>
</html>
