<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>

		<meta name="description" content="{{description}}">
		<meta name="robots" content="index, follow">
			
		<link rel="canonical" href="{{url}}">
		<link rel="icon" type="image/svg+xml" href="/svg/logo-mark.svg">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">

			
		{{hreflang}}
		{{rssLink}}
			
		<meta property="og:title" content="{{title}}">
		<meta property="og:description" content="{{description}}">
		<meta property="og:type" content="{{ogType}}">
		<meta property="og:url" content="{{ogUrl}}">
		<meta property="og:locale" content="{{ogLocale}}">
		<meta name="twitter:image" content="{{ogImage}}">
		<meta name="twitter:card" content="{{twitterCard}}">
		<meta name="twitter:title" content="{{ogTitle}}">
		<meta name="twitter:description" content="{{ogDescription}}">
			
		<script type="application/ld+json">
			{{jsonLD}}
		</script>

		<!--Importante dejar antes de los estilos-->
		<script>
		(() => {
			const savedTheme = localStorage.getItem("theme");
		
			const theme =
				savedTheme ||
				(
					window.matchMedia("(prefers-color-scheme: dark)").matches
						? "dark"
						: "light"
				);
		
			if (theme === "dark") {
				document.documentElement.classList.add("dark");
			}
		})();
		</script>
        <!-- Styles -->
    	<link rel="stylesheet" href="/css/style.css" />
    	<link rel="stylesheet" href="/css/post.css" />
    	<link rel="stylesheet" href="/css/header_footer.css" />
    	<link rel="stylesheet" href="/css/mobile.css" media="(max-width: 768px)">
		<link rel="stylesheet" href="/css/katex.css">
		<link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css">
		<link id="hljs-dark" rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css" disabled>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">

    	<!-- Scripts -->
    	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    	<!-- Google Fonts -->
    	<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900display=swap"    rel="stylesheet">

		<!--SCRIPT DE CONTEO DE VISITAS-->
		<script data-goatcounter="https://lastajneuxronoj.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    </head>

	<body data-page="page" data-page-id="{{pageId}}" data-available-langs="{{availableLangs}}" data-lang-urls='{{lang_urls}}'>
	
		<div id="header-container"></div>
	
		<main>
			<article class="post">
			
				<div class="back-link">
					<img id="back-icon"
					     src="./svg/left_arrow_b.svg"
					     alt="Flecha hacia atrás">
					<a href="/index.html">{{backToHome}}</a>
				</div>
			
				<div class="post-section-head">
					{{cover}}
					<div class="post-section-header">
						<div class="section-title-bg">
							{{section_bg}}
						</div>
					
						<h1 class="post-section-title"
						    id="{{titleId}}">
							{{section_title}}
						</h1>
					</div>
				</div>
				<hr class="rect-line">
			
				<div class="post-content">
					{{body}}
				</div>
			
			</article>
		</main>
	
		<div id="footer-container"></div>
	
		<script src="/js/translation.js"></script>
		<script src="/js/ui.js"></script>
		<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
		<script src="/js/content.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/search.js"></script>
	</body>
</html>
